body{
    padding: 0;
    margin: 0;
    background: pink;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
main{
    display: flex;
}
.header{
    background: rgb(61, 223, 207);
    margin: 20px;
    height: 70px;
    text-align: center;
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.aside{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(34, 159, 152);
    margin: 20px;
    width: 300px;
    height: 400px;
    text-align: center;

}
.article{
    background: rgb(239, 71, 73);
    margin: 20px;
    width: 900px;
    height: 400px;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.footer{
    background: rgb(61, 223, 207);
    margin: 20px;
    height: 70px;
    text-align: center;
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.image-main{
    display: flex;
    justify-content: center;
    align-items: center;

}
.image{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(164, 217, 235, 0.76) ;
    margin-top: 110px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
}
